<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <strong>Father's Name:</strong>
  <%= @user.father_name %>
  <strong>Grandpa's Name:</strong>
  <%= @user.grandpa_name %>
  <strong>Family Name:</strong>
  <%= @user.family_name %>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
  <strong>Gender:</strong>
  <%= @user.gender %>
  <strong>Locality:</strong>
  <%= @user.locality %>
  <strong>Alley:</strong>
  <%= @user.alley %>
  <strong>House Number:</strong>
  <%= @user.house_number %>
  <strong>Neighborhood:</strong>
  <%= @user.neighborhood %>
  <strong>City:</strong>
  <%= @user.city %>
  <strong>State:</strong>
  <%= @user.state %>
  <strong>Country:</strong>
  <%= @user.country %>
  <strong>Cell Phone Number:</strong>
  <%= @user.cell_phone_number %>
  <strong>Home Phone Number:</strong>
  <%= @user.home_phone_number %>
  <strong>Email Address:</strong>
  <%= @user.email_address %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
