<div class="container">
  <p id="notice"><%= notice %></p>
    <div dir="auto">
      <p>
        <strong><%= User.human_attribute_name(:name) %>:</strong>
        <%= @user.name %><br>
        <strong><%= User.human_attribute_name(:father_name) %>:</strong>
        <%= @user.father_name %><br>
        <strong><%= User.human_attribute_name(:grandpa_name) %>:</strong>
        <%= @user.grandpa_name %><br>
        <strong><%= User.human_attribute_name(:family_name) %>:</strong>
        <%= @user.family_name %><br>
        <strong><%= User.human_attribute_name(:birthday) %>:</strong>
        <%= @user.birthday %><br>
        <strong><%= User.human_attribute_name(:gender) %>:</strong>
        <%= @user.gender %><br>
        <strong><%= User.human_attribute_name(:locality) %>:</strong>
        <%= @user.locality %><br>
        <strong><%= User.human_attribute_name(:alley) %>:</strong>
        <%= @user.alley %><br>
        <strong><%= User.human_attribute_name(:house_number) %>:</strong>
        <%= @user.house_number %><br>
        <strong><%= User.human_attribute_name(:neighborhood) %>:</strong>
        <%= @user.neighborhood %><br>
        <strong><%= User.human_attribute_name(:city) %>:</strong>
        <%= @user.city %><br>
        <strong><%= User.human_attribute_name(:state) %>:</strong>
        <%= @user.state %><br>
        <strong><%= User.human_attribute_name(:country) %>:</strong>
        <%= @user.country %><br>
        <strong><%= User.human_attribute_name(:cell_phone_number) %>:</strong>
        <%= @user.cell_phone_number %><br>
        <strong><%= User.human_attribute_name(:home_phone_number) %>:</strong>
        <%= @user.home_phone_number %><br>
        <strong><%= User.human_attribute_name(:email_address) %>:</strong>
        <%= @user.email_address %><br>
      </p>

      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </div>